/*======================================================================================
*
*
*     All application variables
*
*
======================================================================================*/

$blue   : #50acd2;
$green  : #50d2c2;
$light  : #8e8e92;

$font       : 'Roboto', sans-serif;
$font-size  : 16px;
$thin       : 400;
$bold       : 700;


$app-width  : 500px;
$app-offset : 50px;
$nav-height : 60px;